*, body {
    margin: 0px;
    padding: 0px;
}
body header{
    height: 80px;
    width: 100%;
    background-color: blue;
    text-decoration: darkorange;
}
body img{
    float: left;
    width: 50px;
    height: 70px;
    margin: auto, 10px, auto, auto;
}
body nav ul li{
    list-style: none;
    float: left;
}
body main form{
	width: 80%;
	background-color: #eee;
	padding: 15px 20px;
	min-height: 100px;
    color: blue;
    margin: 0px auto;
}
body main form input{
	width: 100%;
	height: 45px;
	border: none;
	background-color: #eee;
	color: #292823;
	font-size: 17px;
	padding: 10px 15px;
	margin: 0 0 10px 0;
}
body main form input[type="submit"]{
	background-color: blue;
	color: yellow;
	text-transform: uppercase;
	cursor: pointer;
}
